<section id="main-section">
    <div id="main-title">
        <b> Recover password  </b>   <a routerLink="/"> <i  class="fas fa-times close-window-button clickable"></i> </a>

    </div>

    <div class="container">
      <div id="enter-email">
        <p> Provide email associated with your account</p>
        <form  #emailForm="ngForm" (submit)="findUserAccount()">
          <input placeholder="Enter your email"  name="email" [(ngModel)]="email" (keyup)="hideErrorMessage()">
          <button> <i class="fas fa-arrow-right"></i> </button>
        </form>
      </div>

      <div id="enter-code">
        <form  #emailForm="ngForm" (submit)="confirmCode()"  >
          <p> A code has been sent to the email you provided, enter it in here</p>
          <input placeholder="Enter code"  name="email" [(ngModel)]="passCode">
          <button> <i class="fas fa-arrow-right"></i> </button>
        </form>
      </div>

      <div id="update-password">
        <form  #emailForm="ngForm" (submit)="resetPassword()">
          <input type="password" placeholder="Enter new password"
          name="email"  [(ngModel)]="newPassword" >
          <input
            type="password" placeholder="Confirm password"
            name="confirm-password"
            [(ngModel)]="newPasswordConfirmation">

          <button [disabled]="newPasswordConfirmation!=newPassword || newPassword.length < 6"> Reset  </button>
        </form>
      </div>

      <p class="error-message" *ngIf="showError">{{errorMessage}} </p>


    </div>


</section>
