<div id="working-on-it">
  <p>
    Hi, we are still working on this, sorry! This is how the end result will look like. Have any suggestion?
    Contact us
  </p>
  <p>
    Email: <a href="mailto:jonathankabongo23@gmail.com">Jonathankabongo23@gmail.com</a> <br>
    Phone: +1 646-954-9444
  </p>

  <button (click)="closeMessage()"> CLOSE </button>

</div>


<section id="middle">
  <div class="page-title">
    <h1>Messages</h1>
  </div>
  <div id="people">
      <a class="user">
          <div class="container">
            <div class="profile-image">
            <img src="../../../assets/images/kawhi.jpg">
            </div>
            <div class="username">
              <b>Julien </b> <br>
              <small> He man, you comin...</small>
            </div>
          </div>
      </a>
    <a class="user">
        <div class="container">
          <div class="profile-image">
          <img src="../../../assets/images/kawhi.jpg">
          </div>
          <div class="username">
              <b>Leonard </b> <br>
              <small> He man, you comin...</small>
          </div>
        </div>
    </a>

    <a class="user">
        <div class="container">
          <div class="profile-image">
          <img src="../../../assets/images/kawhi.jpg">
          </div>
          <div class="username">
              <b>Jonathan </b> <br>
              <small> He man, you comin...</small>
          </div>
        </div>
    </a>

  </div>

</section>

<section id="right">
    <div class="page-title">
        <h1>Kawhi leonard</h1>
    </div>
    <div id="send-message-div">
      <div class="container">
          <div>
              <i class="fas fa-image"></i>
          </div>
          <div id="message-field" contenteditable placeholder="Enter text here...">

          </div>
          <div>
              <i class="far fa-paper-plane"></i>
          </div>
        </div>
     </div>
     <div class="top-space"> </div>

     <div class="message-received">
        <img src="../../../assets/images/kawhi.jpg">
        <div class="content">
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?

        </div>
     </div>

     <div class="message-sent">
        <div class="content">
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?

        </div>


     </div>

     <div class="message-sent">
        <div class="content">
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?

        </div>


     </div>

     <div class="message-received">
        <img src="../../../assets/images/kawhi.jpg">
        <div class="content">
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?

        </div>
     </div>

     <div class="message-sent">
        <div class="content">
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?
            Hey, what is up?

        </div>


     </div>


     <div class="message-received">
      <img src="../../../assets/images/kawhi.jpg">
      <div class="content">
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?

      </div>
   </div>

   <div class="message-sent">
      <div class="content">
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?

      </div>


   </div>

   <div class="message-sent">
      <div class="content">
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?

      </div>


   </div>

   <div class="message-received">
      <img src="../../../assets/images/kawhi.jpg">
      <div class="content">
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?

      </div>
   </div>

   <div class="message-sent">
      <div class="content">
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?
          Hey, what is up?

      </div>
   </div>
   <div class="bottom-space"> </div>



</section>
